/* html {
} */

body {
  margin: 0;
  padding: 0;
  background-color: #6eb7e2;
  font-family: Arial, Helvetica, sans-serif;
  font-stretch: wider;
  font-size: 2vw;
}

/* h1 {
    color: whitesmoke;
    padding: 0 2em;
} */

/* 
h3 {
    display: flex;
} */

.header {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: red;
  color: whitesmoke;
  /* padding: 2em; */
}

h1 {
  font-size: 5vw;
  text-align: center;
}

h2 {
  font-size: 4vw;
  text-align: center;
}

/* .meat {
    display: flex;
    justify-content: center;
} */

.yearbookPhoto {
  display: flex;
  justify-content: center;
  height: 300px;
  width: auto;
  padding: 5% 0;
}

.district {
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  text-transform: uppercase;
  /* margin: 5% 0; */
  padding: 1em 0;
  text-align: center;
  color: whitesmoke;
  background-color: #4355cb;
  font-size: 2vw;
}

.aboutMe {
  display: flex;
  justify-content: center;
  margin: 5em;
  padding: 1em;
  /* height: auto; */
  text-align: center;
  background-color: #4355cb;
  color: whitesmoke;
  font-size: 20px;
}

.committees {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  background-color: #4355cb;
  margin: 5em;
  padding: 1em 0;
  color: whitesmoke;
  font-size: 2vw;
}

h3 {
  text-align: center;
}

.legislation {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  background-color: #4355cb;
  margin: 5em;
  padding: 2em;
  color: whitesmoke;
  font-size: 2vw;
}

a:link, a:visited {
    color: yellow;
}

a:hover {
    color: red;
}

.foot {
    background-color: red;
    height: 5em;
}
